html {
	background: #f2f2f2;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Roboto Slab', serif;
}	

body {
	margin: auto;
	width: 900px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.grid {
	height: auto;
	display: grid;
	grid-template: auto auto auto /5fr 2fr;
	grid-gap: 7px;
}

.box {
	background-color: white;
	padding: 3px;
	outline: 1px solid grey;
	box-shadow: 1px 1px 5px #131313;
	border-radius: 1px;
}

.b {
	grid-column: 2;
	grid-row: 1 / span 3;
}

.e {
	background-color: #fff159;
	height: 50px;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	color: #00007f;
}

.box .box {
/* 	border: 2px solid red; */
	margin-bottom: 10px;
	border-bottom: 1px solid grey ;
	padding: 5px !important;
	box-shadow: none !important;
	text-align: center;
}
codathemebanner {
	border-radius: 3px;
}

p {
	padding-left: 10px;
	padding-right: 10px;
	}

h2 {
	padding-left: 10px;
	padding-right: 10px;
	}
	
.d, a, .footertext {
	text-align: center;
	color: #bebebe;
	padding: 1px;
	font-size: 13px;
	display: inline-block;
}

.social {
	display: inline-block;
	padding-left: 20px;
	position: relative;
	top: 7px;
	}